{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

        <div style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; border: 1px solid #ccc; padding: 20px; max-width: 600px; margin: 0 auto;">
            <p>
            Password VaultX is a secure and user-friendly password manager developed by Team Silent Loop. It lets users safely store and manage their passwords, protected by a single master password.            
            </p>
            <p>
            During registration, users must set a strong master password that meets essential security criteria. All stored passwords are encrypted using a robust algorithm, with the key derived from the hashed master password and a unique salt.
            </p>
            <p>
            Users can view, edit, or delete saved passwords from their vault. Any updates are re-encrypted and securely stored in the database.
            </p>
            <p>
            Password VaultX also allows users to change their master password at any time, ensuring continuous security and peace of mind.            </p>
            <p style="margin-bottom: 30px;">
            Check out the source code on <a href="https://github.com/AakritiSaxena32/Password-Manager" style="color: blue; text-decoration: underline;">GitHub</a> and start managing your passwords with ease and peace of mind.
            </p>
            <div style="display: flex; justify-content: center; text-align: center; margin: 20px;">
                <a href="/add-password" style="padding: 10px 20px; background-color: blue; color: white; margin-right: 30px; border-radius: 5px; text-decoration: none;">Add Password</a>
                <a href="/passwords-vault" style="padding: 10px 20px; background-color: green; color: white; margin-left: 30px; border-radius: 5px; text-decoration: none;">Passwords Vault</a>
            </div>
        </div>

{% endblock %}
